html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7F7F7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.smartphones {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0;
    padding: 0;
}

.yu-feed {
    position: relative;
    width: 64%;
    height: 600px;
    margin-left: 210px;
}

.dio-post {
    position: absolute;
    height: 600px;
    width: 32%;
    margin-top: 20px;
    margin-left: 310px;

}

.login-box {
    width: 350px;
    height: 400px;
    border: 1px solid #dbdbdb;
    margin-left: 30px;
    margin-top: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box img {
    width: 55%;
    margin-left: 23%;
    align-self: center;
}

.button-login {
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    width: 260px;
    height: 30px;
    padding: 5px 9px;
    border-radius: 4px;
    background-color: #0095f6;
    border: 1px solid transparent;
    margin: 8px 40px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 250px;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    padding: 9px 0 7px 8px;
    font-size: 12px;
    background-color: #F7F7F7;
    margin-top: 0;
    color: #262626;
}

.or {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lettre {
    margin: 0 18px;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 500;
}

.feature {

    border-top: 1px solid #dbdbdb;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100px;

}

.login-facebook {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.logo-fb {
    width: 30px;
    height: 30px;
    margin-top: 2px;
}

.login-fb-text a {
    text-decoration: none;
    font-weight: 500;
    color: #385185;
    font-size: 14px;
}

.forgot-password {
    text-decoration: none;
    font-size: 12px;
    color: #00376b;
}

.registration-box {
    width: 350px;
    height: 63px;
    border: 1px solid #dbdbdb;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.registrate-p {
    font-size: 14px;
    color: #262626;
    margin: auto;
}

.registrate-link {
    color: #0095f6;
    font-weight: 500;
    text-decoration: none;
}

.download-area {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin: 20px auto;
    justify-content: center;

}

.download-area p {
    text-align: center;
    margin: 10px 20px;
    font-size: 14px;
    color: #262626;
}

.download-images {
    display: flex;
    flex: row;
    justify-content: space-around;
    margin-top: 10px;
}

.google {
    width: 136px;
    height: 40px;
}

.apple {
    width: 136px;
    height: 40px;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    font-size: 12px;
    color: #262626;
}